{% extends "core/base3.html" %}
{% load static %}
{% block content %}
    <div class="homepagesmain">
      <div> </div>
      <div class="mt-4">
    
        <div class="cardfgfdsg555" style="background-color: lightcyan">
          <h4 class="mb-1"><a href="https://kpsea.testprepken.com/" >KPSEA Revision</a></h4>
    
          <p>Practice Tests and </p>
          <p>Revision Guides</p>
        </div>
    
    
        <div class="cardfgfdsg555" style="background-color: lightcyan">
          <h4 class="mb-1"><a href="#exampleModalCenter" >NTSA Revision</a></h4>
    
          <p>Practice Tests and </p>
          <p>Revision Guides</p>
        </div>
    
    
        <div class="cardfgfdsg555" style="background-color: lightcyan">
          <h4 class="mb-1"><a href="#exampleModalCenter" >CPA Revision</a></h4>
    
          <p>Practice Tests and </p>
          <p>Revision Guides</p>
        </div>
    
      </div>
      <div> </div>
    
    </div>
    
  {% endblock %}
     