{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/homestyles.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/billing.css' %}">
    </head>
    <body>
        <div class="homepagesmain">
            <div> </div>
            <div class="mt-4">
            
              <div class="cardfgfdsg555" style="background-color: lightcyan">
                <h4 class="mb-1"><a href="#exampleModalCenter" >KPSEA Revision</a></h4>
          
                <p>Practice Tests and </p>
                <p>Revision Guides</p>
              </div>
          
          
              <div class="cardfgfdsg555" style="background-color: lightcyan">
                <h4 class="mb-1"><a href="#exampleModalCenter" >NTSA Revision</a></h4>
          
                <p>Practice Tests and </p>
                <p>Revision Guides</p>
              </div>
          
          
              <div class="cardfgfdsg555" style="background-color: lightcyan">
                <h4 class="mb-1"><a href="#exampleModalCenter" >CPA Revision</a></h4>
          
                <p>Practice Tests and </p>
                <p>Revision Guides</p>
              </div>
          
            </div>
            <div> </div>
          
          </div>
    </body>
</html>